doctype html
html
    head
        title #{name} - QR Party
        include head
    body
        include logo

        .container
            .row
                .col
                    h1 #{name}

            .row
                .col-sm
                    .w11
                        a(href="/vjay/" + vid, rel="nofollow", class="btn btn-sq btn-primary")
                            i(class="fa fa-chart-line fa-3x")
                            br
                            | Public Screen

                .col-sm
                    .w11
                        a(href="/encoder/"+pid, rel="nofollow", class="btn btn-sq btn-primary")
                            i(class="fa fa-qrcode fa-3x")
                            br
                            | Print QR List

                .col-sm
                    .w11
                        a(href="/djinfo/"+pid, rel="nofollow", class="btn btn-sq btn-primary")
                            i(class="fa fa-headphones fa-3x")
                            br
                            | Print DJ Info

            .row

                .col-sm
                    .w11
                        a(href="/vote/"+pid, rel="nofollow", class="btn btn-sq btn-primary")
                            i(class="fa fa-check-square fa-3x")
                            br
                            | Voting Station

                .col-sm
                    .w11
                        a(href="/queue/"+pid, rel="nofollow", class="btn btn-sq btn-primary")
                            i(class="fa fa-list-ol fa-3x")
                            br
                            | LineUp Queue

                .col-sm
                    .w11
                        a(href="/api/"+pid, rel="nofollow", class="btn btn-sq btn-primary")
                            i(class="fa fa-book fa-3x")
                            br
                            | REST API DOC
            .row
                .col-sm
                    .w11
                        a(href="/dj/"+pid, rel="nofollow", class="btn btn-sq btn-primary")
                            i(class="fa fa-headphones fa-3x")
                            br
                            | DJ Console


            .row

                .col
                    h4.m7 Step by Step

                    ol
                        li <a href="/encoder/#{pid}" >Print your QR List</A>. Each participant need to have 3 unique QRcode for voting A, B or C.

                        li Make one or several public screen or video projection on this URL:  <a href="/vjay/"+#{vid}>http://localhost:3001/vjay/+#{vid}</A>

                        li Give this URL or this code at your DJ <a href="/dj/#{pid}">ici</A>.













