doctype html
html
    head
        title Starting a new Party with QRParty
        include head
    body

        .container
            .row-fluid
                .col(class="justify-content-md-center")
                    h2 DJ Console  #{partytag}

                    hr

                    a(class='btn', target='_none',  href='/encoder/'+partytag) Print QR list for  #{partytag}
                    a(class='btn', target='_none',  href='/scan/'+partytag) QR Terminal
                    a(class='btn', target='_none',  href='/vjay/'+partytag+'/1') VJ Chart

                    legend Add a pool

                    form(class='form-horizontal', action='/addset', method='post')
                        input(type='hidden', name='partytag', value='#{partytag}')
                        .control-group
                            label(class='control-label') Set #1
                            .controls
                                input(class='input-xlarge', name='set1', placeholder='Electro', type='text')
                        .control-group
                            label(class='control-label') Set #2
                            .controls
                                input(class='input-xlarge', name='set2',  placeholder='Punk/Rock', type='text')
                        .control-group
                            label(class='control-label') Set #3
                            .controls
                                input(class='input-xlarge', name='set3', placeholder='80s Kitch', type='text')
                        .control-group
                            label(class='control-label') Time ?
                            .controls
                                input(class='input-mini', value='20', name='delay',type='text')
                        .control-group
                            .controls
                                button(type='submit', class='btn') Add

                    legend Current pool

                    #there

                    script(type='text/javascript').

                        function printStat() {


                            d3.json('/json/vstat/#{partytag}', function (xdata) {

                                var total = parseInt(xdata.vote1) + parseInt(+xdata.vote2) + parseInt(xdata.vote3) ;
                                if (total ==0) { total=1; }

                                var size1 = Math.floor( (xdata.vote1 / total) * 100);
                                var size2 = Math.floor( (xdata.vote2 / total) * 100);
                                var size3 = Math.floor( (xdata.vote3 / total) * 100)

                                var there = d3.select("#there");
                                there.append("div").html(
                                    '<table >'+
                                    '<tr valign=top ><td nowrap="nowrap" >'+xdata.name1+' &nbsp;('+xdata.vote1+')&nbsp;</td><td width=100% ><div class="progress progress-info"><div class="bar" style="width: '+size1+'%"></div></div></td></tr>'+
                                    '<tr valign=top ><td nowrap="nowrap" >'+xdata.name2+' &nbsp;('+xdata.vote2+')&nbsp;</td><td width=100% ><div class="progress progress-info"><div class="bar" style="width: '+size2+'%"></div></div></td></tr>'+
                                    '<tr valign=top ><td nowrap="nowrap" >'+xdata.name3+' &nbsp;('+xdata.vote3+')&nbsp;</td><td width=100% ><div class="progress progress-info"><div class="bar" style="width: '+size3+'%"></div></div></td></tr>'+
                                    '</table>'
                                    )

                                delete size1;
                                delete size2;
                                delete size3;

                                });

                        }

                        printStat()


                    legend Pool List

                    style.
                        .setitem {
                            background: #eeeeff;
                            border-radius: 7px;
                            padding: 12px;
                            margin-top: 5px;
                            size: 14px;
                        }

                    #here

                    script(type='text/javascript').

                        d3.json('/json/setlist/#{partytag}', function (somedata){
                            var here = d3.select("#here");
                            var t={};
                            //console.log( somedata );
                            for (var k=0 in somedata)
                            {
                                (function(k){

                                t = JSON.parse( somedata[k] );
                                //console.log(t.set1name);

                                here.append("div")
                                .attr('id',k)
                                .attr('class','setitem')
                                .html('<table><tr><td><a href=/publish/#{partytag}/'+k+'  ><button class=btn >Publish</button></a></td><td width=100% ><center><span class="label label-success" >'+t.set1name +'</span> vs <span class="label label-warning" >'+ t.set2name +'</span> vs <span class="label label-info" > '+t.set3name+'</span></center></td><td><a href=/delete/#{partytag}/'+k+' ><span class="icon-remove-sign"></span></a></td></tr></table>');

                                })(k);
                            }
                        });
                    hr



















